[user]
    email = luca@schluer.eu
    name = Luca Schluer
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = gh auth git-credential -h auth git-credential
