@define-color background #0B0B10;
@define-color color #8988a8;
@define-color foreground #8988a8;

* {
    font-size:15px;
    font-family: "CodeNewRoman Nerd Font Propo";
}

window#waybar{
    all:unset;
}

.modules-left {
    padding: 7px;
    margin: 10px 0px 5px 10px;
    border-radius: 10px;
    background: alpha(@background,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
    padding:7px;
    margin:10 0 5 0;
    border-radius:10px;
    background: alpha(@background,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
    padding:7px;
    margin: 10 10 5 0;
    border-radius:10px;
    background: alpha(@background,.5);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

tooltip {
    background:@background;
    color: @color;
}

#clock:hover, #custom-pacman:hover, #custom-notification:hover,#bluetooth:hover,#network:hover,#battery:hover, #cpu:hover,#memory:hover,#temperature:hover{
    transition: all .3s ease;
    color:#afdafd;
}

#custom-notification {
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color;
}

#clock{
    padding: 0px 5px;
    color:@color;
    transition: all .3s ease;
}

#custom-pacman{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color;

}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@color,.4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.active {
    color: @color;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}

#workspaces button.empty.active {
    color: @color;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#network{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color;

}

#custom-colorpicker{
    color: @foreground;
    padding: 0px 5px;
}

#custom-wlogout{
    color: @foreground;
    padding: 0px 5px;
}

#cpu,#memory,#temperature{
    padding: 0px 5px;
    transition: all .3s ease;
    color:@color;

}
#tray{
    padding: 0px 5px;
    transition: all .3s ease;

}

#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease;
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease;
}
